<p id="notice"><%= notice %></p>

<p>
<% @blog_entry.comments.each do |comment| %>
  <%=comment.user.email if comment.user %> </br>
  <%=comment.content %></br>
  <%=comment.created_at %></br>  
<%end%>








