/* variables & Mixings*/

/* colors */

$main-color: #a91414;
$background-color: #fff;
$border-color: darken(#A91414, 15%);  
$body-color: #d5d5d5;
$second-color: #000;

/* fonts  */

@mixin url {
  font-family: 'Chivo', sans-serif;
  color: $main-color;
}
@mixin title-url {
  font-family: 'Contrail One', cursive; 
  color: $main-color;
}  
@mixin title {                 
  font-family: 'Contrail One', cursive; 
  color: $second-color;          
}  
@mixin text {
  font-family: 'Chivo', sans-serif;
  color: $second-color;
}

$h1: 28px;

$normal: 18px;

/* border  */

@mixin radius {
  border-width: 1px;
  border-style: solid;
  border-color: $border-color;
  border-radius: 5px;  
  -moz-border-radius: 5px;  
  -webkit-border-radius: 5px;
}
@mixin normal{
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
}

// end variables & mixins

/* gerneral parts */
html {
  background-color: $background-color;
}

body {
  margin: 0px;
}

#body { 
  margin: 32px auto;
  background-color: $body-color; 
  @include radius;
  @include text;
  font-size: $normal;
  width: 960px;
}
a {
  @include url;
  font-size: $normal;
  &:hover{
    color: $second-color;
  }
}
#title a {
  @include title-url;
  font-size: $h1;
  &:hover {
    color: $second-color;
  }
}
h1 {
 @include title;
 font-size: $h1;  
}
#user_nav {ckground-color: $body-color;   
  @include text;
  font-size: $normal;  
  float: right; 
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: $border-color;
  background-color: $background-color;
  -webkit-border-radius: 0px 5px 0px 0px;
  -moz-border-radius: 0px 5px 0px 0px;
  border-radius: 0px 5px 0px 0px;
}

